
#navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:lightsalmon;
}

#nav-right{
  display: flex;
  gap:30px;
  align-items: center;
}

#nav-right button{
  border: none;
  width:80px;
  height:35px;
  border-radius: 5px;
  box-shadow: 1px 1px black;
}